appdirs
certifi
chardet
distlib
docopt
filelock
idna
Jinja2
MarkupSafe
packaging
pbr
pip
pkgconfig
psutil
pyparsing
requests
ruamel.yaml
ruamel.yaml.clib
setuptools
six
stevedore
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
virtualfish
